.content{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.servicesBx{
    padding: 20px 10px;
    max-width: 250px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: #f5f5f5;
}
.servicesBx:hover{
    background: #000;
}
.servicesBx img{
    max-width: 80px;
    transition: 0.5s;
}
.servicesBx:hover img{
    filter: invert(1);
}
.servicesBx h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}
.servicesBx:hover h2{
    color: #fff;
}
.servicesBx p{
    margin: 0;
    transition: 0.5s;
}
.servicesBx:hover p{
    color: #fff;
}
